body {
  background-color: whitesmoke;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: sans-serif;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  margin-right: 30px;
  margin-top: 70px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

label {
  display: block;
}

nav {
  display: flex;
  background-color: rgb(65, 177, 160);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: stretch;
  box-shadow: 0px 2px 5px rgba(96, 125, 139, 0.5);
}

.nav-logo {
  display: flex;
  /* margin-left: 45; */
  margin-right: 20px;
  margin-top: 4px;
  text-align: center;
  color: white;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 2.2em;
  margin-left: -105px;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 4px;
  /* text-align: center; */
}

nav a {
  top: 0;
  display: inline-block;
  margin: 1em;
  color: white;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 1.2em;
}

h1,
h2 {
  font-family: 'Baloo Bhaina', cursive;
  color: rgb(65, 177, 160);
}

form div {
  margin: 1em;
  display: inline-block;
}

.fruitThumb {
  max-width: 150px;
  height: auto;
}

.cartThumbnail {
  width: 125px;
  height: 125px;
}

.zoomFruitImage {
  max-width: 600px;
  height: auto;
}

.cartImage {
  max-width: 25px;
  height: auto;
}

#all-fruit {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 150px;
  width: 100%;
  align-content: stretch;
}

.fruit-row {
  display: flex;
  margin-right: 20px;
  margin-top: 20px;
  background-color: white;
  padding: 16px;
  text-align: center;
  box-shadow: 0px 2px 9px rgba(96, 125, 139, 0.14);
}

.fruit-name,
.fruit-price {
  text-align: left;
}
