body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.fruitImage {
  max-width: 400px;
  height: auto;
}

.zoomFruitImage {
  max-width: 600px;
  height: auto;
}
