body {
  background-color: whitesmoke;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: sans-serif;
}

main {
  align-items: left;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 100px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

label {
  display: block;
}

nav {
  display: flex;
  background-color: rgb(65, 177, 160);
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  justify-content: space-around;
  box-shadow: 0px 2px 5px rgba(96, 125, 139, 0.5);
}

.nav-logo {
  display: flex;
  margin-left: 30;
  margin-right: 20px;
  margin-top: 4px;
  text-align: center;
  color: white;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 2.2em;
  margin-left: -105px;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 4px;
}

nav a {
  top: 0;
  display: inline-block;
  margin: 1em;
  color: white;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 1.2em;
}

h1,
h2 {
  font-family: 'Baloo Bhaina', cursive;
  color: rgb(65, 177, 160);
}

.fruitThumb {
  max-width: 150px;
  height: auto;
}

.cartThumbnail {
  width: 125px;
  height: 125px;
}

.singleFruitImage {
  max-width: 500px;
  height: auto;
}

.cartImage {
  max-width: 25px;
  height: auto;
}

#all-fruit {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 150px;
  width: 100%;
  align-content: stretch;
}

.fruit-row {
  display: flex;
  margin-right: 20px;
  margin-top: 20px;
  background-color: white;
  padding: 16px;
  text-align: center;
  box-shadow: 0px 2px 9px rgba(96, 125, 139, 0.14);
}

.fruit-name,
.fruit-price {
  text-align: left;
}

#checkout {
  display: flex;
  /* text-align: right; */
}

#checkout-user,
#checkout-cart {
  display: flex;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  text-justify: distribute-all-lines;
  justify-content: space-around;
  flex-grow: 2;
  margin: 1em;
}

form input {
  width: 50%;
  font-size: 1em;
}

form button,
#google {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 30px;
  /* padding: 0.4em 1.6em; */
  background-color: rgb(65, 177, 160);
  color: white;
  border: none;
  font-size: 1em;
  transition: all 1s ease;
  outline: none;
}

#google {
  background-color: slategray;
}

#welcome-user {
  color: #333333;
  margin-top: -38px;
}
